@(signupForm: Form[UserSignUp])

@import helper._
@import helper.twitterBootstrap._


@layout("Sign Up") {

@helper.form(action = routes.Application.submit) {

<fieldset>

    <legend>Account information</legend>

    @inputText(
    signupForm("username"),
    '_label -> "Username",
    '_help -> "Please choose a valid username.",
    '_error -> signupForm.globalError
    )

    @inputText(
    signupForm("email"), '_label -> "Email",
    '_help -> "Enter a valid email address."
    )

    @inputPassword(
    signupForm("password.main"),
    '_label -> "Password",
    '_help -> "A password must be at least 6 characters. "
    )

    @inputPassword(
    signupForm("password.confirm"),
    '_label -> "Repeat password",
    '_help -> "Please repeat your password again.",
    '_error -> signupForm.error("password")
    )

</fieldset>

<fieldset>

    <legend>Contact information</legend>

    @select(
    signupForm("profile.country"),
    options = options(Countries.list),
    '_default -> "--- Choose a country ---",
    '_label -> "Country",
    '_error -> signupForm("profile.country").error.map(_.withMessage("Please select your country"))
    )

    @textarea(
    signupForm("profile.address"),
    '_label -> "Address", 'cols -> 50
    )

    @inputText(
    signupForm("profile.age"),
    '_label -> "Age", 'class -> "mini",
    '_showConstraints -> false
    )

</fieldset>

<fieldset>

    @checkbox(
    signupForm("accept"),
    '_label -> None, '_text -> "You agree to the terms and conditions",
    '_showConstraints -> false
    )

</fieldset>

<div class="actions">
    <input type="submit" class="btn btn-success" value="Sign Up">
    <a href="@routes.Application.index" class="btn btn-danger">Cancel</a>
</div>

}
}
